* {
    padding: 0;
    margin: 0;
}
.me-contact {
    background: #1E2137;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0 5px 5px 0;
}
.me-contact-item {
    outline: none;
    transition: all 200ms ease-in-out;
    &:hover {
        background: lighten($color: #1E2137, $amount: 8%);
    }
    &:focus {
        box-shadow: #FFB800 0 0 0 2px;
        border-radius: 5px;
    }
}
.me-contact-link {
    color: rgba(255, 255, 255, 0.85);
    font-size: 22px;
    display: inline-block;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}
